<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSG - Transcription Login</title>
</head>
<body>
    <div class="Login_box">
        <form method="POST" action="/user/" >
          <div class="username">
            <label class="username_text" for="username">
              Username
            </label>
            <input name="username" type="text">
          </div>
          <div class="password">
            <label class="password_text" for="password">
              Password
            </label>
            <input name="password" type="password">
          </div>
          <div class="login_button">
            <button type="submit">
              Sign In
            </button>
          </div>
        </form>
      </div>
</body>
</html>